#18/10/16
'.source.antlr4':
  'editor':
    'autoIndentOnPaste': false
    'softTabs': true
    'tabLength': 4
    # 'foldEndPattern': '^\\s*"""\\s*$'
    'commentStart': '// '
    'increaseIndentPattern': '^\\s*[a-zA-Z_][a-zA-Z_0-9]+\\s*:?$'
    # 'decreaseIndentPattern': ""
