'.source.pluto':
  'editor':
    'autoIndentOnPaste': false
    'softTabs': true
    'tabLength': 4
    # 'foldEndPattern': '^\\s*"""\\s*$'
    'commentStart': '# '
    'increaseIndentPattern': ':\\s*$|:\\=\\s*$|\\[\\s*$'
    'decreaseIndentPattern': '^\\s*(elsif|else|catch|ensure)\\b.*:|\\s+\\.\\.\\s*$|\\s+\\]$' # while
